<%-include("./partials/header");-%>
<%-include("./partials/navbar");-%>

    <main>
        <h1 class="display-4"><i class="fab fa-opencart"></i>&nbsp; shopy </h1>
        <%-include("./partials/flash");-%>
           
    </main>
   
    <div class="container">
        <div class="row">
           <%for(let eachItem of product){%>
                <div class="col-lg-4 col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="<%=eachItem.img%>" class="card-img-top" alt="<%=eachItem.name%>">
                        <div class="card-body">
                          <h5 class="card-title"><%=eachItem.name%></h5>
                          <p class="card-text"><%=eachItem.desc.substring(0,80)%>...</p>
                          <h3 class="card-title"><%=eachItem.price%> Rs</h3>
                          <a type="button" class="btn btn-outline-primary" href="/product/<%=eachItem._id%>">Know More</a>
                        </div>
                      </div>
                </div>
            <%}%>
            
        </div>
    </div>
    

<%-include("./partials/footer");-%>